.cover {
  margin: 0 auto;
  max-width: 1184px;
  position: relative;
  margin-top: 92px;
}

@media (max-width: 768px) {
  .cover {
    margin-top: 88px;
  }
}

@media (max-width: 425px) {
  .cover {
    margin-top: 64px;
  }
}
