.place__link {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: white;
  text-decoration: underline;
  transition: opacity 0.35s;
}

.place__link:hover {
  opacity: 0.8;
}

@media (max-width: 425px) {
  .place__link {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media (max-width: 320px) {
  .place__link {
    
  }
}
