.place {
  margin: 0;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: minmax(320px, 460px) minmax(320px, 460px);
  grid-gap: 48px 40px;
  overflow: hidden;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 1024px) {
  .place {
    grid-gap: 48px 32px;
    grid-template-columns: minmax(440px, 440px) minmax(320px, 460px);
  }
}

@media (max-width: 768px) {
  .place {
    grid-gap: 48px 28px;
    grid-template-columns: minmax(340px, 340px) minmax(320px, 460px);
  }
}

@media (max-width: 700px) {
  .place {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 320px) {
  .place {
    row-gap: 32px;
  }
}
